<a href="https://colab.research.google.com/github/kywch/RC-RAGE_jsPsych/blob/master/read_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please copy paste the result string below.

In [1]:
#@title String fields
result_string = ' trial steal_timing finish_code click_cnt wasted_click points rt time_remain;1 Infinity 1 20 0 20 38492 141508;2 2 1 24 4 18 38896 102612;3 Infinity 1 20 0 20 30985 71627;4 3 1 20 0 15 33155 38472;attn NaN NaN NaN NaN NaN 1469 37003;5 4 99 12 -8 5 37005 -2;6 7 91 NaN NaN NaN NaN NaN;7 1 91 NaN NaN NaN NaN NaN;8 6 91 NaN NaN NaN NaN NaN;attn NaN NaN NaN NaN NaN NaN NaN;9 Infinity 91 NaN NaN NaN NaN NaN;' #@param {type:"string"}

In [2]:
# delimiter - space (' '), newline - semicolon (';')
result_csv = result_string.strip().replace(';', '\n').replace(' ', ',')
print(result_csv)

trial,steal_timing,finish_code,click_cnt,wasted_click,points,rt,time_remain
1,Infinity,1,20,0,20,38492,141508
2,2,1,24,4,18,38896,102612
3,Infinity,1,20,0,20,30985,71627
4,3,1,20,0,15,33155,38472
attn,NaN,NaN,NaN,NaN,NaN,1469,37003
5,4,99,12,-8,5,37005,-2
6,7,91,NaN,NaN,NaN,NaN,NaN
7,1,91,NaN,NaN,NaN,NaN,NaN
8,6,91,NaN,NaN,NaN,NaN,NaN
attn,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Infinity,91,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd
from io import StringIO

result_df = pd.read_csv(StringIO(result_csv))

In [4]:
# Each trial consists of two harvests, and the robber appears during the first harvest
# When the robber appears is controlled by steal_timing
# Finish_code = 1: Two harvests were completed successfully
# Finish_code = 99: The time ran out before completing two harvests
# Finish_code = 91: The trial did not start.

result_df

   trial  steal_timing  finish_code  ...  points       rt  time_remain
0      1           inf          1.0  ...    20.0  38492.0     141508.0
1      2           2.0          1.0  ...    18.0  38896.0     102612.0
2      3           inf          1.0  ...    20.0  30985.0      71627.0
3      4           3.0          1.0  ...    15.0  33155.0      38472.0
4   attn           NaN          NaN  ...     NaN   1469.0      37003.0
5      5           4.0         99.0  ...     5.0  37005.0         -2.0
6      6           7.0         91.0  ...     NaN      NaN          NaN
7      7           1.0         91.0  ...     NaN      NaN          NaN
8      8           6.0         91.0  ...     NaN      NaN          NaN
9   attn           NaN          NaN  ...     NaN      NaN          NaN
10     9           inf         91.0  ...     NaN      NaN          NaN

[11 rows x 8 columns]